# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
#
# Mac nonsense
.DS_Store

# Editor rubbish
.idea

# preston-core
# config
packages/preston-core/config/*
!packages/preston-core/config/local.json
!packages/preston-core/config/schema.json
