@import '../base/style';
@import '../typography/style';

.preston-header {
  @extend .preston-type;
  background: #fff;
  border-bottom: #ccc 1px solid;
  padding: 5px 10px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.preston-nav {
  float: right;
  > div {
    @extend .preston-nav-item;
  }
}

.preston-nav-item {
  > span {
    @include hover-effect;
  }
  @extend .preston-type;
  display: inline-block;
  padding: 1px 3px;
}

.preston-nav-item {
  padding: 0 29px 0 0;
}
.preston-nav-menu {
  .hide-menu & {
    display: none;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 960px;
  height: 54px;
  padding: 0;
  margin: 0;
  .preston-nav-menu-item {
    @include hover-effect;
    display: inline;
    cursor: pointer;
    font-weight: bolder;
    margin-left: 15px;
  }
  @media all and (max-width: 725px) {
    overflow-x: scroll;
  }
}
