$colours: (
  primary: #111,
  secondary: #333,
  standout: #f00
);

@function get-colour($name) {
  @if map-has-key($colours, $name) {
    @return map-get($colours, $name);
  }
  @warn "Unknown `#{$name}` in $colours.";
  @return null;
}
